* {
  scrollbar-width: thin;
  scrollbar-color: #333;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  margin: 0;
  width: 24px;
  background-color: #111;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 16px 16px #333;
}
