@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

@layer components {
  .blur-on-lose-focus:not(:focus) {
    color: transparent;
    text-shadow: 0 0 16px white;
  }
}
